html{
    background: linear-gradient(to right,#3178fe,#835b53);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#3178fe,#835b53);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    text-align: center;
}
.containerMenue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    place-items: center;
}

h1{
    color: rgb(16, 80, 122);
    text-shadow: 5px 5px 15px rgb(245, 240, 179);
}

.buttonCard{
    background-color: rgba(24, 29, 24, 0.568);
    color: aqua;
    width: 90px;
    height: 90px;
    margin: 15px;
    font-size: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(11, 250, 11, 0.397);
    border: 3px solid rgba(13, 107, 150, 0.699);
    padding: 0;
    transition: 0.5s ease-in-out;
}

.buttonCard.active{
    transform: rotateY(180deg);
    transition: 0.8s ease-in-out;
}

.buttonMode{
    width: 280px;
    height: 60px;
    margin: 10px 20px 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 5px 5px 15px black;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.582);
}


.navContainer{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    color: black;
    border-radius: 12px;
    font-weight: bold;
    padding: 0.6rem;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.562);
    box-shadow: 0 0 15px white;
}

.restart{
    background-color: rgba(10, 235, 160,0.7);

}

.backToMenue{
    background-color: rgba(255, 217, 0, 0.7);
}


@media screen and (max-width: 700px) {
    .buttonCard{
        background-color: rgba(24, 29, 24, 0.568);
        color: aqua;
        width: 70px;
        height: 70px;
        margin: 5px;
        font-size: 35px;
        border-radius: 12px;
        box-shadow: 5px 5px 15px rgba(11, 250, 11, 0.397);
        border: 3px solid rgba(13, 107, 150, 0.699);
        padding: 0;
    }
}

.timerLabel{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: yellow;
}


.themeContainer{
    display: flex;
    overflow-y: auto;
    background-color: rgba(252, 252, 252, 0.123);
}

.themeButton{
    min-width: 60%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.651);
    font-size: 30px;
    border-radius: 12px;
    margin: 15px;
}

#output{
    display: grid;
    place-content: center;
    background-color: rgb(29, 70, 104);
    border-radius: 25px;
    text-align: center;
    font-size: 1rem;
    color: aqua;
    min-height: 70px;
    padding: 10px;
    margin: 35px;
}

.container{
    display: grid;
    place-content: center;
    text-align: center;
}

.normalButton{
    background-color: rgb(16, 39, 65);
    color: red;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
}
