html{
    background: linear-gradient(to right,#3178fe,#835b53);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#3178fe,#835b53);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
}

.box{
    text-align: center;
}
.containerMenue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    place-items: center;
}

h1{
    color: rgb(16, 80, 122);
    text-shadow: 5px 5px 15px rgb(245, 240, 179);
}

.buttonCard{
    background-color: rgba(24, 29, 24, 0.568);
    color: aqua;
    width: 100px;
    height: 150px;
    margin: 5px;
    font-size: 60px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px black, inset 3px 0 4px white;
    border: 2px solid rgba(255, 255, 255, 0.603);
    padding: 0;
    transition: 0.3s ease;
    
}

.buttonCard.active{
    transform: rotateY(360deg);
    transition: 0.3s ease-in-out;
}

.buttonCard.right{
    background-color: rgb(48, 219, 48);
    box-shadow: 0 0 25px lightgreen, inset 3px 0 6px white;
}

.buttonMode{
    width: 280px;
    height: 60px;
    margin: 10px 20px 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 5px 5px 15px black;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.582);
}


.navContainer{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    color: black;
    border-radius: 12px;
    font-weight: bold;
    padding: 0.6rem;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.562);
    box-shadow: 0 0 15px white;
}

.restart{
    background-color: rgba(10, 235, 160,0.7);

}

.backToMenue{
    background-color: rgba(255, 217, 0, 0.7);
}

/* ############################################### */
@media screen and (max-width: 700px) {
    .buttonCard{
        background-color: rgba(24, 29, 24, 0.568);
        /* color: aqua; */
        width: 60px;
        height: 60px;
        margin: 5px;
        font-size: 35px;
        border-radius: 12px;
        /* box-shadow: 5px 5px 15px rgba(11, 250, 11, 0.397); */
        /* border: 3px solid rgba(13, 107, 150, 0.699); */
        padding: 0;
    }

    .mainContainer{
        max-width: 300px;
    }

    #countdown.timerLabel{
        margin: 0;
        font-size:1.3rem;
    }
}
/* ############################################### */

.timerLabel{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
    margin: 20px;
}


.themeContainer{
    display: flex;
    overflow-y: auto;
    background-color: rgba(252, 252, 252, 0.123);
}

.themeButton{
    min-width: 60%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.651);
    font-size: 30px;
    border-radius: 12px;
    margin: 15px;
}

#output{
    display: grid;
    place-content: center;
    background-color: rgb(29, 70, 104);
    border-radius: 25px;
    text-align: center;
    font-size: 1rem;
    color: aqua;
    min-height: 70px;
    padding: 10px;
    margin: 35px;
}

.container{
    display: grid;
    place-content: center;
    text-align: center;
}

.normalButton{
    background-color: rgb(16, 39, 65);
    color: red;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
}



/* ############################################### */
/* Toastnotification */

#toasts{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
    max-height: 70px;
    overflow-y: hidden;
    transition: transform 0.4s ease;
}


.toast{
    border-radius:  20px 20px 0 20px ;
    padding: 1rem 2rem;
    margin: .5rem;
    font-weight: bold;
    opacity: 1;
}


.toast.info{
    background-color: lightblue;
    color: black;
}


.toast.modal{
    background-color: white;
    color: black;
}


.toast.success{
    background-color: lightgreen;
    color: black;
}

.toast.alert{
    background-color: rgb(105, 6, 6);
    color: white;
}
